## String Functions

In [1]:
text = "an APPLE a Day"

In [2]:
text.lower()

'an apple a day'

In [3]:
text

'an APPLE a Day'

In [4]:
p_text = print(text)

an APPLE a Day

In [6]:
print(p_text)

None

In [7]:
text.capitalize()

'An apple a day'

In [8]:
text.upper()

'AN APPLE A DAY'

In [9]:
text.title()

'An Apple A Day'

In [12]:
text.split()

['an', 'APPLE', 'a', 'Day']

In [13]:
fruits = "Apple"
items = "pencil"
product ="RADIO"

In [14]:
fruits.islower()

False

In [15]:
items.islower()

True

In [16]:
items.isupper()

False

In [17]:
product.isupper()

True

In [18]:
text = "I Love Oranges"

In [19]:
product.istitle()

False

In [22]:
text.istitle()

True

In [23]:
text[7].isupper()

True

In [24]:
text[7]

'O'

In [25]:
text = "The price is 250"

In [26]:
text.index("250")#extract a

13

In [29]:
i_price = int(text[13:])# this is splicing

In [30]:
i_price

250

In [31]:
i_price =i_price+100

In [32]:
i_price

350

In [33]:
s_price = str(i_price)

In [34]:
s_price

'350'

In [35]:
text.replace("250",s_price)

'The price is 350'

In [36]:
#take an input from the user which must be his age
#if age is greater than 20 print fare is $30
#else print fare is $10

In [3]:
#Pseudo Code
#take input from user
#Convert the input to integer
#check if the age is > 20
#else print fare is $10

In [1]:
age = input("enter your age")

enter your age30

In [2]:
age = int(age)
if(age > 20):
    print("The FARE is $30")
else:
    print("The Fare is $10")

The FARE is $30

## While loop

initialaize a variable
condition
counter or increment
print numbers from 0 to 100

In [16]:
i=0
while(i<=100):
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [24]:
i = 0 ;
total = 0;
while(i<10):
    i=i+1
    total = total + i;
print(total)

55

## for loop

for loop is a sequence objector

In [36]:
text ="APPLE"
for i in text:
    print(i)

A
P
P
L
E

In [ ]:
#text = chennai (print only upper case letter using for loop)

In [40]:
text = "ChENnai"
#use a for loop to iterate through the word
for i in text:
    #using an if to check upper case
    if(i.isupper()):
        #print if in upper case
        print(i)

C
E
N

In [49]:
# take the provided string and prit only numbers
text = "20 M G ROAD #09-123"
for i in text:
    if(i.isdigit()):
        print(i)

2
0
0
9
1
2
3

isalpha
isalnum

In [55]:
# braek once the value of i is 9
text = "20 M G ROAD #09-123"
for i in text:
    if(i.isdigit()):
        print(i)
        if(int(i) == 9):
            break

2
0
0
9

In [56]:
text = "ORANGES"

In [57]:
for i in text:
    if i=="N":
        break
    print(i)
    print("hello")
    print("OK")

O
hello
OK
R
hello
OK
A
hello
OK

In [58]:
for i in text:
    if i=="N":
        continue
    print(i)
    print("hello")
    print("OK")

O
hello
OK
R
hello
OK
A
hello
OK
G
hello
OK
E
hello
OK
S
hello
OK

In [3]:
x=""
text = "A6BCD7FT9"
for i in text:
    if(i.isdigit()):
        x=x+i
print(x)
if(int(x)%13 == 0):
    print("Divisible")
else:
    print("Not Divisible")

679
Not Divisible

## Lists

In [4]:
a = []

In [5]:
type(a)

list

In [15]:
names = ["Tom","Jerry","Sunil","Mary","Lucy"]#homogenous list all value of the list are of same data type
names

['Tom', 'Jerry', 'Sunil', 'Mary', 'Lucy']

In [9]:
age = [23,34,45,56,67]
age

[23, 34, 45, 56, 67]

In [10]:
names[4]

'Lucy'

In [17]:
names[2:4] # starts at 2, ends at 4-1

['Sunil', 'Mary']

In [18]:
names[2:]

['Sunil', 'Mary', 'Lucy']

In [19]:
names[2:6]

['Sunil', 'Mary', 'Lucy']

In [20]:
Productprices = ["Apple", 23 ,"oranges" , 13 , "grapes" , 9]

In [21]:
cust = [["john",23],["mary",22],["jake",28]]#list of list is always hetrogenous

In [22]:
type(cust)

list

In [23]:
cust[0]

['john', 23]

In [24]:
cust[0][0]

'john'

In [25]:
cust[1][1]

22

In [36]:
fruits =['apples','Oranges','grapes','Melons','kiwi']

In [40]:
for i in fruits:
        print(i)

apples
Oranges
grapes
Melons
kiwi

In [38]:
fruits =['apples','Oranges','grapes','Melons','kiwi']

In [39]:
for i in fruits:
    if(i.istitle()):
        print(i)

Oranges
Melons

In [41]:
for i in fruits:
    if(i[0].isupper()):
        print(i)

Oranges
Melons

In [44]:
age = [45,29,34,67,19]
age.sort() #replacing original data

In [45]:
age

[19, 29, 34, 45, 67]

In [49]:
age.sort(reverse=True)

In [50]:
age

[67, 45, 34, 29, 19]

In [52]:
fruits.sort()#using ascii value to sort hence A-Z the a-z
fruits

['Melons', 'Oranges', 'apples', 'grapes', 'kiwi']

In [54]:
Productprices.sort()# sort does not work for hetrogenous list

TypeError: '<' not supported between instances of 'int' and 'str'

In [55]:
prices = [45,29,34,67,19]

prices.append(50)
prices

[45, 29, 34, 67, 19, 50]

In [56]:
prices.insert(1,20)

In [57]:
prices

[45, 20, 29, 34, 67, 19, 50]

In [58]:
prices.pop(2)

29

In [59]:
prices

[45, 20, 34, 67, 19, 50]

In [74]:
# consider the below list
# create 
prices =[100,200,300,400]

In [78]:
m_price =[]

In [79]:
for i in prices:
    m_price.append(i*1.10)

In [80]:
m_price

[110.00000000000001, 220.00000000000003, 330.0, 440.00000000000006]

In [91]:
qty =[["apples",100],["oranges",200],["Grapes",300]]
new = []

In [92]:
for i in qty:
    new.append(int(i[1]*1.10))

In [93]:
new

[110, 220, 330]

In [94]:
#remove method -we use values
prices =[20,30,40,50,60]
prices.remove(40)
prices

[20, 30, 50, 60]

In [95]:
#pop uses index to remove values.
prices.pop(2)

50

In [96]:
prices

[20, 30, 60]