In [1]:
5 + 6

11

In [2]:
#this is a python code to add two numbers

In [3]:
7-2
#this is a python code to subract two numbers

5

This cell is a mark down and used for title or inferences

#This is to increase font size add #

#to increase font size add hash

# SRM

## SRM

In [1]:
age = 10

In [2]:
id(age)

2289278085712

In [3]:
age = 12

In [4]:
id(age)

2289278085776

In [1]:
input("enter a number")

enter a numberjyjyjy

'jyjyjy'

In [2]:
age = 10

In [3]:
type(age)

int

# Functions are written in ()

In [4]:
price = 65

In [5]:
price

65

In [6]:
value = "65"

In [7]:
value

'65'

In [8]:
#value is converted but not stored
int(value)

65

In [9]:
# value is converted and stored in i_value
i_value = int(value)

In [10]:
value

'65'

In [11]:
i_value

65

In [12]:
# cannot convert string with a name to integer
name = "john"

In [13]:
int(name)

ValueError: invalid literal for int() with base 10: 'john'

In [14]:
tax = 10
s_tax = str(tax)

In [15]:
type(tax)

int

In [16]:
type(s_tax)

str

In [17]:
f_tax = float(tax)

In [18]:
f_tax

10.0

In [19]:
price =23.95
i_price = int(price)

In [20]:
i_price

23

In [21]:
is_teacher = True
is_player = False

In [22]:
type(is_player)

bool

In [23]:
is_teacher+is_player

1

In [24]:
name=""

In [25]:
bool (name)

False

In [26]:
age = 19
price =19.95
temp = -8
name= "Henry"

In [27]:
bool(age)

True

In [28]:
bool(price)

True

In [29]:
price = int(input())

20

In [30]:
price-temp

28

# Arithmetic Operators

In [31]:
price = 100;
tax = 12.5;
total = price +tax;
total

112.5

In [34]:
fname = "Shabarish ";
lname = "V S"
tname = fname+lname;

In [35]:
tname

'Shabarish V S'

In [37]:
raddress = 20
rname = "ABC Road"
#convert integer to string
fulladdress = str(raddress)+" "+rname;
fulladdress

'20 ABC Road'

In [38]:
price = 100;
tax = 12.5;
total = price - tax;
total

87.5

In [39]:
fname = "Shabarish ";
lname = "V S"
tname = fname - lname;

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [40]:
price = 9.0
qty = 1000
total = price*qty;
total

9000.0

In [41]:
22/7

3.142857142857143

In [44]:
int(22/7)

3

# Relational operators
return true or false

<
>
<=
>=
==
!=

In [53]:
tom_age = 18
terry_age = 18

In [50]:
tom_age == terry_age

True

In [47]:
tom_age < terry_age

True

In [54]:
tom_age != terry_age

False

## Logical Operators

&& --> AND
|| --> OR

# Membership operator

In [56]:
place = "potheri"
"C" in place

False

In [57]:
"eri" in place

True

## Conditional Statement

In [58]:
if(place == "potheri"):
    print(place)

potheri

In [59]:
if(place == "potheri"):
    print(place)
    print(fname)
    print("If excuted")
print("i am independent")

potheri
Shabarish
If excuted
i am independent

In [60]:
place = "chennai"
if(place == "potheri"):
    print(place)
    print(fname)
    print("If excuted")
print("i am independent")

i am independent

In [61]:
age

19

In [62]:
if(age<30):
    print("You are eligible for addmission")
else:
    print("You are not eligible for addmission")

You are eligible for addmission

In [67]:
age=10
if(age<5):
    print("NO FARE");
elif(5<age<=10):
    print("Fare is $5")
elif(10<age<15):
    print("Fare is $7")
else:
    print("Fare is $10")

Fare is $5

## Basic String Handling

In [68]:
text = "Great Learnig"

In [69]:
text[0]

'G'

In [70]:
text.index('L')

6

In [71]:
text[6]

'L'

In [74]:
text[0:5]

'Great'

In [75]:
text[0:10]

'Great Lear'

In [76]:
# signature text[start:stop:step]
text[0:13:3]

'GaLrn'

In [77]:
text[0:13:4]

'Gtan'

In [78]:
text[0:13:]

'Great Learnin'

In [83]:
text= "apple"

In [84]:
text[-5:-2]

'app'

In [85]:
text[-0:-5]

''