In [1]:
i =1;
while(i<10):
    i+=1;
    if(i==5):
        break
    print(i);

2
3
4

In [3]:
i =1;
while(i<10):
    print(i);
    i+=1;
    if(i==5):
        continue

1
2
3
4
5
6
7
8
9

## In Built Function
id()
print()
type()

str()
int()
bool()
float()

input()

len()
min()
max()

In [19]:
prices = [10,20,30,40,50]
text = "Hello"
len(prices)

5

In [6]:
min(text)

'H'

In [7]:
max(text)

'o'

In [8]:
min(prices)

10

In [9]:
max(prices)

50

In [20]:
del prices; #deletes the list price

In [22]:
prices # since deleted the variable will not be defined

NameError: name 'prices' is not defined

In [40]:
prices =[[20,30],[40,50],[60,70],[80,90]]
new_price =[]

In [42]:
for i in prices:
    new_price.append(i[0])
    new_price.append(i[1])

In [43]:
print(new_price)

[20, 30, 40, 50, 60, 70, 80, 90]

In [44]:
a = [11,22]
b = [99,88,77]
c = a+b
c

[11, 22, 99, 88, 77]

In [46]:
new = []
for i in prices:
    new = new+i;
print(new)

[20, 30, 40, 50, 60, 70, 80, 90]

In [9]:
items = [["Apple",35],[45,"Oranges"],["Kiwi","Avo",56]]

In [4]:
print(items)

[['Apple', 35], [45, 'Oranges'], ['Kiwi', 'Avo', 56]]

In [23]:
nlist = [];
for i in items:
    for z in i:
        if(isinstance(z,int)):
            nlist.append(z)
print(nlist)

[35, 45, 56]

In [1]:
l_prices = [11,33,11,77,88]
t_prices = (11,33,11,77,88)

In [2]:
type(l_prices)

list

In [3]:
type(l_prices)

list

In [4]:
prices = (10,20,30,45,18,17)

In [5]:
prices[1:4]

(20, 30, 45)

In [6]:
prices[-1]

17

In [7]:
prices[-4:-2]

(30, 45)

In [8]:
type(prices[-4:-2])

tuple

In [9]:
items = ("oranges",35, "Apples",67)

## Tuples of tuples

In [12]:
items = (("A",56),("B","C"),("D",67),(90,"E","F"))

In [13]:
for i in items:
    print(i)

('A', 56)
('B', 'C')
('D', 67)
(90, 'E', 'F')

In [14]:
prices = [10,20]
t_prices = tuple(prices)
type(t_prices)

tuple

In [15]:
items =("apple","grape")
l_items = list(items)
type(l_items)

list

### we can also have list of tuples OR Tuple of lists

In [16]:
#consider the given list
#[(45,90),(10,35),(45,65),(55,55)]

#get a output
[(45, 90, 135), (10, 35, 45), (45, 65, 110), (55, 55, 110)]

In [59]:
list_a =[(45,90),(10,35),(45,65),(55,55)]
new = []

for i in list_a:
    sum = i[0]+i[1]
    new.append((i[0],i[1],sum))
print(new)

[(45, 90, 135), (10, 35, 45), (45, 65, 110), (55, 55, 110)]

In [55]:
type(new)

list

In [61]:
list_a =[(45,90),(10,35),(45,65),(55,55)]
new = []

for i in list_a:
    sum = i[0]+i[1]
    new.append([i[0],i[1],sum])
print(new)

[[45, 90, 135], [10, 35, 45], [45, 65, 110], [55, 55, 110]]

### Sets

initialized using {}

In [65]:
prices = {10,20,30}
type(prices)

set

In [66]:
#use the set() function to convert the given list to a set
#print both list and set

In [67]:
prices = [11,22,22,22,33,44,11,55,55,66]
pnew = set(prices)

In [68]:
print(prices)
print(pnew)

[11, 22, 22, 22, 33, 44, 11, 55, 55, 66]
{33, 66, 11, 44, 22, 55}

In [72]:
a = {10,20,30,40,50,60}
b = {11,22,33,40,44,50,55,66}

In [73]:
a.union(b)

{10, 11, 20, 22, 30, 33, 40, 44, 50, 55, 60, 66}

In [74]:
a.intersection(b)

{40, 50}

In [78]:
a.symmetric_difference(b)

{10, 11, 20, 22, 30, 33, 44, 55, 60, 66}

In [79]:
a.difference(b)

{10, 20, 30, 60}

In [80]:
b.difference(a)

{11, 22, 33, 44, 55, 66}

In [85]:
a = {10,20,30,40,50,60}
a.discard(20)
print(a)

{50, 40, 10, 60, 30}

In [86]:
a.pop()
a

{10, 30, 40, 60}

In [87]:
a.add(99)
a

{10, 30, 40, 60, 99}

In [88]:
#consider the string "ABRACADABRA"
#remove duplicate

In [97]:
text = "ABRACADABRA";
set1= set(text);
text2 = str(set1);
a = text2.index('{')
b = text2.index('}')

In [106]:
newtext= " ";
for i in text:
    if(i not in newtext):
        newtext+=i;

In [107]:
newtext

' ABRCD'

## Dictionary

In [108]:
#create a dictionary with {}
#Key:Value
products={"Apple":100,"Oranges":35}

In [110]:
products["Apple"]

100

To create a empty objects use below
a=list()
b=tuple()
set()
dict()

In [130]:
emp = {1:"John","Age":23,"Salary":10000,"Gender":"Male"}

In [113]:
emp[1]

'John'

In [114]:
emp.values()

dict_values(['John', 23, 10000, 'Male'])

In [115]:
emp.keys()

dict_keys([1, 'Age', 'Salary', 'Gender'])

In [116]:
emp.items()

dict_items([(1, 'John'), ('Age', 23), ('Salary', 10000), ('Gender', 'Male')])

In [117]:
list(emp.items())

[(1, 'John'), ('Age', 23), ('Salary', 10000), ('Gender', 'Male')]

In [118]:
emp["Age"]

23

In [119]:
emp["Age"]=45
emp

{1: 'John', 'Age': 45, 'Salary': 10000, 'Gender': 'Male'}

In [131]:
emp["Location"]="Chennai"
emp

{1: 'John',
 'Age': 23,
 'Salary': 10000,
 'Gender': 'Male',
 'Location': 'Chennai'}

In [129]:
emp.pop("Gender")
emp

{1: 'John', 'Age': 45, 'Salary': 10000, 'Location': 'Chennai'}

In [132]:
del emp['Gender']
emp

{1: 'John', 'Age': 23, 'Salary': 10000, 'Location': 'Chennai'}

In [133]:
for i in emp.values():
    print(i)

John
23
10000
Chennai

In [135]:
for i in emp.keys():
    print(i)

1
Age
Salary
Location

In [137]:
for i in emp.items():
    print(i)

(1, 'John')
('Age', 23)
('Salary', 10000)
('Location', 'Chennai')

In [138]:
for k,v in emp.items():
    print("Key is ",k,"And Value is",v)

Key is  1 And Value is John
Key is  Age And Value is 23
Key is  Salary And Value is 10000
Key is  Location And Value is Chennai

#### in calss

In [139]:
#consider the below text:
#"I feel happy I feel healthy i gfeel terrific"
#create a dictionary with words from above sentence as keys and number of occurance as values

In [145]:
dict1=dict()
str1="I feel happy I feel healthy I feel terrific"
str2=str1.split(" ")

for i in str2:
    if(i not in dict1):
        dict1[i] = 1
    else:
        dict1[i] = dict1[i]+1;
        
dict1

{'I': 3, 'feel': 3, 'happy': 1, 'healthy': 1, 'terrific': 1}

In [148]:
dict2=dict()
str1="I feel happy I feel healthy I feel terrific"
str2=str1.split(" ")

for i in str2:
    if(i not in dict2.keys()):
        dict2[i] = 1
    else:
        dict2[i] = dict2[i]+1;
        
dict2

{'I': 3, 'feel': 3, 'happy': 1, 'healthy': 1, 'terrific': 1}

In [149]:
items=["pen","pencil","book","ruler"]
prices = [100,200,345,187]

In [154]:
dict3= dict()

for i in range(len(items)):
    dict3[items[i]]=prices[i]

In [155]:
dict3

{'pen': 100, 'pencil': 200, 'book': 345, 'ruler': 187}